

body {
	width: 100vw;
	min-height: 100vh;

	margin: 0;
  
  font-family: Arial;
  
  background-color: #bcebff;
}


header {
	border: 1px solid transparent;
	box-shadow: 0 0 10px 2px black;
	margin-bottom: 40px;

	text-align: center;

	background-color: red;
}


header > h2, h4 {
	margin: 10px;
}


#interface {
	display: flex;
	flex-direction: column;
}


table {
	z-index: 1;

  border-radius: 15px;
	border-spacing: 10px;
	box-shadow: 0 0 7px 1px black;
	margin: 0 auto;
  
  background-color: #1252ba;
}


td > input {
	width: 36px;
	height: 36px;

	border: none;
	border-radius: 5px;
	
	font-size: 35px;
	text-align: center;
}


#input-buttons {
	display: flex;

	padding: 5px 15px 2px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0 0 7px 1px black;
	margin: 0 auto;
	
	background-color: #5fc4ef;
}


#input-buttons > input {
	padding: 8px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 7px black;
	margin: 10px 10px;
	
	font-size: 14px;
	font-weight: bold;
	
	background-color: #3fe299;

	cursor: pointer;
}


#input-buttons > input:first-child {
	margin-left: 0;
}


#input-buttons > input:last-child {
	margin-right: 0;
}


#messages {
	padding: 10px;
}


#messages > h3 {
	text-align: center;
	font-size: 25px;
}

